@charset "UTF-8";
@font-face {
	font-family: "fontawesome";
	src: url("../fonts/fontawesome-webfont.ttf") format("truetype");
	src: url("../fonts/FontAwesome.otf") format("opentype");
	src: url("../fonts/fontawesome-webfont.eot") format("embedded-opentype");
	src: url("../fonts/fontawesome-webfont.woff") format("woff");
	font-weight: normal;
}
/* @font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Light.ttf") format("truetype");
	src: url("../fonts/OpenSans-Light.eot") format("embedded-opentype");
	src: url("../fonts/OpenSans-Light.woff") format("woff");
	font-weight: 300;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
	src: url("../fonts/OpenSans-Regular.eot") format("embedded-opentype");
	src: url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400; */
/* } */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
/* @font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
	src: url("../fonts/OpenSans-SemiBold.eot") format("embedded-opentype");
	src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
	font-weight: 600;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
	src: url("../fonts/OpenSans-Bold.eot") format("embedded-opentype");
	src: url("../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: 700;
} */
/* @font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
	src: url("../fonts/OpenSans-ExtraBold.eot") format("embedded-opentype");
	src: url("../fonts/OpenSans-ExtraBold.woff") format("woff");
	font-weight: 800;
} */

@font-face {
	font-family: "Gilory";
	src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
	src: url("../fonts/Gilroy-SemiBold.eot") format("embedded-opentype");
	src: url("../fonts/Gilroy-SemiBold.woff") format("woff");
	font-weight: 600;
}
@font-face {
	font-family: "Gilory";
	src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
	src: url("../fonts/Gilroy-Bold.eot") format("embedded-opentype");
	src: url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 700;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
	src: url("../fonts/Montserrat-Regular.otf") format("opentype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
	src: url("../fonts/Montserrat-SemiBold.otf") format("opentype");
	font-weight: 600;
}
@font-face {
	font-family: "SFUI";
	src: url("../fonts/SFUIDisplay-Bold.ttf") format("truetype");
	src: url("../fonts/SFUIDisplay-Bold.eot") format("embedded-opentype");
	src: url("../fonts/SFUIDisplay-Bold.woff") format("woff");
	font-weight: 700;
}
@font-face {
	font-family: "BaronNeue";
	src: url("../fonts/BaronNeue.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "BaronNeue";
	src: url("../fonts/BaronNeueBold.ttf") format("truetype");
	font-weight: 700;
}

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	line-height: 1.2;
}
.btn {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	border-radius: 6px;
	font-weight: 700;
}
input {
	font-family: "Open Sans", sans-serif;
}
.btn:hover {
	color: #ffffff;
}
.btn:focus {
	box-shadow: none;
}
h1 {
	font-weight: 800;
	font-size: 36px;
	color: #6223a8;
}
h2 {
	font-size: 30px;
	font-weight: 700;
}
.green-btn {
	color: #fffafa;
	background: linear-gradient(to bottom, #50cc75, #01b04e);
	box-shadow: 0 3px 9px 0px rgba(2, 176, 78, 0.67);
}
.btn-gr-shadow {
	box-shadow: 0 3px 9px 0px rgba(2, 176, 78, 0.67);
}
.green-btn:hover {
	color: #fffafa;
	background: linear-gradient(to bottom, #292d46, #292d46);
	box-shadow: none;
}
.plum-btn {
	color: #ffffff;
	background: linear-gradient(to right top, #2b106b, #6223a8);
}
a {
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #01b04e;
}
a:hover h2 {
	color: #01b04e !important;
}

.form-control {
	border-radius: 6px;
	border: 1px solid #eeeff7;
}
.form-control:focus {
	border-color: #6223a8;
	box-shadow: 0 0 0 0.2rem rgba(98, 35, 168, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(1, 176, 78, 0.25);
	border-color: #01b04e;
}
.breack_body {
	overflow: hidden;
}
/* ------- HEADER ----------- */

.hdr_hdr {
	height: 56px;
}
.hdr_hdr_wrapper {
	height: 56px;
}
.hdr_logo {
	position: relative;
}
.hdr_logo_robo-img {
	width: 28px;
	margin-right: 5px;
}
.hdr_slog {
	margin-bottom: 0;
	font-size: 12px;
}
.hdr_search-form {
	position: relative;
	flex: 0 0 35%;
}
.hdr_search-form .form-control::placeholder {
	color: #dbdbdb;
}
.hdr_search-inp {
	font-size: 12px;
}
.hdr_search-btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 3px 8px;
	height: 100%;
}
.hdr_search-btn .hdr_user-bar_search {
	width: 13px;
	height: 13px;
	margin-bottom: 5px;
}
.hdr_search-btn:hover .hdr_user-bar_search {
	fill: #01b04e;
}
.hdr_mob-serch-cont {
	position: relative;
}
.hdr_drop-search-form {
	position: absolute;
	z-index: 4;
	width: 300px;
	right: 0;
	top: 45px;
	display: none;
}
.hdr_drop-search-form .hdr_search-btn {
	right: 31px;
}
.hdr_close-serch {
	position: absolute;
	padding: 7px 10px;
	right: 0;
	top: 0;
	transform: scale(1.2, 1);
	color: #6223a8;
}
.hdr_user-bar {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 12px;
	height: 100%;
	align-items: center;
}
.hdr_user-bar li {
	height: 29px;
	border-left: 1px solid #eeeff5;
}
.hdr_user-bar li:first-child {
	border-left: none;
}
.hdr_user-bar a {
	display: flex;
	color: #292d46;
	align-items: center;
	padding: 5px 18px;
	height: 100%;
}
.hdr_user-bar_user {
	background-image: url(../img/usersweb.png);
	background-position-x: 0;
	background-position-y: 0;
	width: 19px;
	height: 19px;
	background-size: cover;
	background-repeat: no-repeat;
}
.hdr_user-bar_backet {
	margin-right: 12px;
}
.hdr_user-bar_backet,
.hdr_user-bar_chart,
.hdr_user-bar_search {
	width: 19px;
	height: 19px;
	fill: #6223a8;
}
.hdr_user-bar_search svg,
.hdr_user-bar svg {
	width: 100%;
	height: 100%;
}
.hdr_user-bar_text {
	margin-top: 3px;
}
.hdr_social-nav a:hover,
.hdr_user-bar a:hover div {
	background-position-y: -19px;
	fill: #01b04e;
}
.hdr_soc-nav_mail:hover {
	background-color: #01b04e;
}
.hdr_user-bar a:hover {
	color: #01b04e;
}
.hdr_bdy {
	background-color: #000000;
	color: #ffffff;
	height: 46px;
}
.hdr_bdy a {
	color: #ffffff;
}
.hdr_bdy_wrapper {
	height: 100%;
}
.hdr_bdy_cat-icon {
	width: 14px;
	height: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 5px;
}
.hdr_bdy_cat-icon div {
	background-color: #ffffff;
	width: 14px;
	height: 2px;
}
.hdr_bdy .hdr_main-nav {
	font-size: 14px;
	font-weight: 600;
	height: 100%;
}
.hdr_main-nav > .nav-item {
	height: 100%;
}
.hdr_bdy .hdr_main-nav > .nav-item:hover {
	background-color: #24252b;
}
.hdr_ftr-nav a,
.hdr_main-nav a {
	height: 100%;
	align-items: center;
	display: flex;
}
.hdr_social-nav a {
	width: 19px;
	height: 19px;
	display: block;
}
.hdr_ftr-nav_drop,
.hdr_main-nav_drop {
	position: relative;
}
.hdr_main-nav_second-drop-wrapper,
.hdr_main-nav_drop-wraper {
	display: none;
	position: absolute;
	background-color: #ffffff;
	top: 100%;
	z-index: 20;
}
.hdr_main-nav_drop-wraper > li {
	width: 245px;
	height: 40px;
	border-bottom: 1px solid #f0f1f8;
}
.hdr_main-nav_drop-wraper > li:last-child {
	border-bottom: none;
}
.hdr_main-nav_drop-wraper a {
	color: #000000;
	font-size: 13px;
	font-weight: 400;
	width: 100%;
	height: 100%;
	padding: 10px 15px;
}
.hdr_main-nav_drop-wraper div {
	height: 20px;
	width: 20px;
	fill: #6223a8;
	margin-right: 15px;
}
.hdr_main-nav_drop-wraper div svg {
	width: 100%;
	height: 100%;
}
.hdr_main-nav_drop-wraper span {
	margin-left: auto;
	font-family: BaronNeue;
	font-weight: 400;
	color: #6223a8;
}
.hdr_main-nav_drop-wraper > li:hover {
	background-color: #6223a8;
}
.hdr_main-nav_drop-wraper > li:hover > a {
	color: #ffffff;
}
.hdr_main-nav_drop-wraper > li:hover div {
	fill: #ffffff;
}
.hdr_main-nav_drop-wraper > li:hover span {
	color: #ffffff;
}
.hdr_main-nav_second-drop-wrapper {
	left: 100%;
	top: 0;
	min-height: 100%;
	padding: 10px;
	border-left: 1px solid #f0f1f8;
	width: max-content;
}
.hdr_main-nav_second-drop-wrapper li {
	width: 240px;
	width: max-content;
	width: 100%;
}
.hdr_soc-nav_mail {
	border-radius: 50px;
	background-color: #ffffff;
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.hdr_soc-nav_mail div {
	fill: #000000;
	width: 11px;
}
.hdr_soc-nav_mail svg {
	margin-bottom: 1px;
}
.hdr_soc-nav_teleg svg,
.hdr_soc-nav_what svg {
	fill: #ffffff;
	width: 100%;
	height: 100%;
}
.hdr_soc-nav_teleg:hover svg,
.hdr_soc-nav_what:hover svg {
	fill: #01b04e;
}
.hdr_social-nav .nav-item {
	padding: 8px;
}
.hdr_tel {
	font-weight: 700;
	font-size: 18px;
}
.hdr_tel:hover {
	color: #01b04e;
}
.hdr_ftr {
	background-color: #eeeff5;
	height: 46px;
}
.hdr_ftr-nav {
	font-size: 13px;
	height: 100%;
	justify-content: space-between;
}
.hdr_ftr-nav a {
	padding: 15px 10px;
	display: block;
}
.hdr_ftr-nav > li:hover {
	background-color: #6223a8;
}
.hdr_ftr-nav > li:hover > a {
	color: #ffffff;
}
.hdr_ftr-nav > li {
	position: relative;
}
.hdr_ftr-nav > li::after {
	content: "";
	display: block;
	position: absolute;
	width: 1px;
	height: 24px;
	background-color: #e1e2e6;
	right: -1px;
	top: 11px;
}
.hdr_ftr-nav > li:last-child::after {
	display: none;
}
.hdr_ftr-nav a.active {
	font-weight: 600;
}
.hdr_ftr-nav_drop-wrapper {
	position: absolute;
	top: 100%;
	display: none;
	z-index: 18;
	background-color: #ffffff;
	min-width: 100%;
	width: 190px;
	width: max-content;
	padding: 10px;
	box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.12);
}
.hdr_ftr-nav > li:last-child ul {
	right: 0;
}
.hdr_ftr-nav_drop-wrapper li {
	height: 30px;
	min-width: max-content;
	width: 100%;
}
.hdr_ftr-nav_drop-wrapper a {
	padding: 5px 10px;
	text-align: left !important;
}
.hdr_main-nav_second-drop-wrapper a:hover,
.hdr_ftr-nav_drop-wrapper a:hover {
	color: #6223a8;
}
.hdr_main-nav_second-drop:hover .hdr_main-nav_second-drop-wrapper,
.hdr_main-nav_drop:hover .hdr_main-nav_drop-wraper,
.hdr_ftr-nav li:hover .hdr_ftr-nav_drop-wrapper {
	display: flex;
}
.hdr_bdy_blackout {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 102px;
	background-color: rgba(0, 0, 0, 0.33);
	z-index: 5;
}
/* --------- MOBILE HDR --------- */
.hdr_mob-menu-btn {
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 26px;
	height: 26px;
}
.hdr_mob-menu-btn .hdr_bdy_cat-icon {
	width: 12px;
	height: 10px;
	margin-right: 0;
}
.hdr_mob-menu-btn .hdr_bdy_cat-icon div {
	width: 12px;
}
.hdr_mobile-slog {
	font-size: 6.8px;
	margin-bottom: 0;
}
.hdr_mob-nav > li > div > a {
	font-weight: 600;
	color: #6223a8;
	display: flex;
	align-items: center;
	height: 100%;
	min-height: 40px;
	padding: 10px;
	width: 100%;
}
.hdr_mobile-menu {
	position: fixed;
	width: 100%;
	z-index: 100;
}
.hdr_mob-nav-wrapper {
	position: absolute;
	width: 100%;
	max-width: 500px;
	height: 100vh;
	background-color: #ffffff;
	padding: 15px 20px;
	transform: translateX(-100%);
	transition: 0.3s;
	overflow-y: auto;
	z-index: 10;
}
.hdr_active-mob-nav-wrapper {
	transform: translateX(0%);
	box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.11);
}
.hdr_main-nav_close-btn {
	color: #b4b6c6;
	font-size: 14px;
	font-weight: 400;
	transform: scale(1.2, 1);
}
.hdr_mob-nav > li {
	min-height: 40px;
}
.mob_menu_back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: none;
}
/* --------- BLOCK 1 --------- */
.b1_wrapper {
	display: grid;
	grid-gap: 20px 30px;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(150px, auto);
	padding: 15px 0;
}
.b1_main-slider {
	grid-column: 1 / 4;
	grid-row: 1 / 3;
	width: 100%;
}
.b1_ban_img-cont,
.b1_main-slide_img-cont {
	height: 100%;
	display: flex;
	justify-content: center;
}
.b1_ban_img-cont img,
.b1_main-slide_img-cont img {
	width: 100%;
}
.b1_day-item {
	grid-column: 4;
	grid-row: 1 / 3;
	border: 2px solid #6223a8;
	padding: 20px;
	background-color: #ffffff;
}
.b1_day-item_img-cont {
	max-width: 100%;
	height: 155px;
	display: flex;
	position: relative;
}
.b1_day-item_img-cont img {
	height: 100%;
	max-width: 100%;
	margin: auto;
}
.b1_day_category,
.b1_day_old-price {
	color: #b5b8c8;
	font-size: 12px;
}
.b1_day_old-price {
	text-decoration: line-through;
}
.b1_day_old-price span {
	font-family: Gilory;
}
.b1_day_new-price span {
	font-family: Gilory;
}

.b1_day_new-price {
	color: #212539;
	font-weight: 700;
	font-size: 18px;
}
.b1_day-item h3 {
	font-size: 16px;
	font-weight: 700;
}
.b1_day-item h4 {
	font-size: 14px;
	font-weight: 700;
	margin: 10px 0;
}
.b1_day_countdown {
	color: #6223a8;
}
.b1_combo,
.b1_smart,
.b1_gifts,
.b1_kids,
.b1_main-slide {
	position: relative;
}
.b1_combo img,
.b1_smart img,
.b1_gifts img,
.b1_kids img {
	margin: auto;
	width: 100%;
}
.b1_main-slide {
	height: 100%;
}
.b1_combo {
	grid-column: 1;
	grid-row: 3;
}
.b1_smart {
	grid-column: 2;
	grid-row: 3;
}
.b1_gifts {
	grid-column: 3;
	grid-row: 3;
}
.b1_kids {
	grid-column: 4;
	grid-row: 3;
}

.b1_firms-slider {
	background-color: #ffffff;
	min-height: 55px;
	padding: 7px 10px;
}
.b1_firm-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.b1_firm-slide::after {
	content: "";
	display: block;
	position: absolute;
	width: 2px;
	height: 60px;
	background-color: #f4f4f4;
	top: -20px;
	right: 0;
}
.b1_firm-slide img {
	margin: auto;
}
.b1_firms-slider .slick-track {
	display: flex;
	align-items: center;
}
/* - BLOCK 1 MAIN SLIDER - */

.b1_main-slider .slick-list,
.b1_main-slider .slick-track {
	height: 100% !important;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slick-dots {
	bottom: 15px;
}
.slick-dots li {
	width: 13px;
	height: 13px;
}
.slick-dots li button {
	background: #ececf3;
	border-radius: 50px;
	width: 13px;
	height: 13px;
}
.slick-dots .slick-active button {
	background: #25bc5f !important;
}
.slick-dots li button:before {
	content: "";
}
.slick-prev:before,
.slick-next:before {
	content: "";
}
.slick-prev {
	left: 15px;
	z-index: 2;
}
.slick-next {
	right: 15px;
}
.slick-prev,
.slick-next {
	color: #ffffff;
	font-size: 60px;
	font-family: BaronNeue;
	font-weight: 700;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	color: #ffffff;
}
.b1_bottom-line {
	width: 100%;
	height: 40px;
	background-color: #f4f4f7;
}
/* - MOBILE MENU - */

.b1_mobile-nav {
	background-color: #ffffff;
}
.b1_mobile-nav a div {
	height: 20px;
	width: 20px;
	fill: #6223a8;
	margin-right: 15px;
}
.b1_mobile-nav div svg {
	width: 100%;
	height: 100%;
}
.b1_mobile-nav > li {
	min-height: 40px;
}
.b1_mobile-nav a {
	display: flex;
	align-items: center;
	height: 100%;
	min-height: 40px;
	padding: 10px;
	width: 100%;
}
.b1_mob-nav_link-block {
	border-bottom: 1px solid #f0f1f8;
	display: flex;
}
.b1_mob-nav_arrow {
	margin-left: auto;
	transform: rotate(90deg);
	color: #753eb3;
	font-size: 18px;
	font-family: BaronNeue;
	font-weight: 400;
	transition: 0.3s;
	padding-top: 5px !important;
	width: 40px !important;
	justify-content: center;
}
.b1_mob-nav_active-arrow {
	transform: rotate(-90deg);
}
.b1_mob-nav_drop-wrapper {
	display: none;
	border-bottom: 1px solid #f0f1f8;
	padding: 10px;
}
.b1_mob-nav_drop-wrapper > li > a {
	padding: 5px 10px;
	min-height: 30px;
}
/* ----- block TOP SALES ------ */
.block_actions,
.block_top-sales,
.block_news {
	background-color: #f4f4f7;
	position: relative;
	padding-bottom: 15px;
	padding-top: 25px;
}
.ts_bg-line {
	background: linear-gradient(to right, #2b156b, #6028a6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	z-index: 1;
}
.block_actions .ts_bg-line {
	background: linear-gradient(to right, #00af4d, #50cc75);
}
.block_actions .container,
.block_top-sales .container,
.block_news .container {
	position: relative;
	z-index: 2;
}
.ts_title-block a {
	display: flex;
	align-items: center;
	width: max-content;
	padding-left: 25px;
}
.block_actions .ts_title-block a:hover h2 {
	color: #6223a8 !important;
}

.ts_slider {
	background-color: #fdfdfd;
	border-radius: 6px;
	margin-top: 25px;
	padding: 25px 10px;
	padding-top: 0;
	margin-left: -15px;
	margin-right: -15px;
	border-top: 2px solid #f0f1f8;
}
.block_top-sales .ts_slider,
.block_actions .ts_slider {
	padding-top: 25px;
}
.news_slider .slick-dots,
.ts_slider .slick-dots {
	bottom: -25px;
}
.news_slider .slick-dots li button,
.ts_slider .slick-dots li button {
	background: #4d2694;
}
.title-arrow {
	width: 40px;
	height: 40px;
	font-size: 36px;
	font-weight: 700;
	font-family: BaronNeue;
	border-radius: 50px;
	padding: 15px;
	line-height: 0;
	margin-left: 25px;
	color: #ffffff;
}
.plum-arrow {
	background: linear-gradient(to top right, #2b106b, #6223a8);
}
.cat-item {
	display: flex;
	flex-direction: column;
	max-width: 276px;
	/* margin: 8px; */
	padding: 23px;
	position: relative;
}
.cat-item::after {
	content: "";
	display: block;
	width: 2px;
	height: 100%;
	background-color: #f0f1f8;
	position: absolute;
	right: 0;
	top: 0;
}
.cat-item:last-child::after {
	display: none;
}
.cat-item h3 {
	font-size: 14px;
	font-weight: 700;
}
.item_img-cont {
	position: relative;
	width: 100%;
	/* max-height: 200px; */
	margin-bottom: 10px;
}
.item_img-cont img {
	margin: auto;
	width: 100;
	max-width: 400px;
	display: block;
}
.plum-circle,
.green-circle {
	background: linear-gradient(to bottom, #50cc75, #01b04e);
	color: #ffffff;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	height: 72px;
	width: 72px;
	top: -8px;
	left: 0;
}
.green-circle {
	box-shadow: 0 3px 9px 0px rgba(2, 176, 78, 0.67);
}
.plum-circle {
	background: linear-gradient(to top right, #2b106b, #6223a8);
}
.circle_s-text {
	font-size: 10px;
	font-weight: 600;
}
.circle_l-text {
	font-size: 26px;
	font-weight: 700;
}
.circle_text {
	font-size: 18px;
	font-weight: 700;
}
.green-circle .circle_text {
	font-size: 20px;
}
.item_grade {
	display: flex;
	justify-content: space-between;
}
.item_stars div {
	width: 12px;
	height: 12px;
}
.item_stars svg {
	height: 100%;
	width: 100%;
}
.item_bonus {
	font-weight: 700;
	font-size: 12px;
	display: flex;
	align-items: center;
}
.item_points {
	color: #caccd7;
	margin-right: 5px;
}
.item_percent {
	background-color: #381877;
	color: #ffffff;
	padding: 3px;
	margin-right: 5px;
	border-radius: 2px;
}
.item_bonus_sum {
	color: #361875;
}
.item_bonus_sum span {
	font-family: SFUI;
}

/* ----- block NEW ------ */
.block_new {
	padding: 15px 0 30px;
	background-color: #f4f4f7;
}
.block_new .container {
	background-color: #fdfdfd;
	border-radius: 6px;
	padding-top: 25px;
}
.item-btn-prev,
.item-btn-next {
	width: 26px;
	height: 26px;
	background: linear-gradient(to top, #2b106b, #6223a8);
	border-radius: 50px;
	font-size: 25px;
}

.item-btn-prev {
	padding-right: 2px;
	left: -12px;
}
.item-btn-next {
	padding-left: 2px;
	right: -13px;
}
.item-btn-prev:focus,
.item-btn-prev:hover,
.item-btn-next:hover,
.item-btn-next:focus {
	background: linear-gradient(to top, #2b106b, #6223a8);
}
/* ----- block REVIEW ------ */

.block_review {
	background-color: #f4f4f7;
	padding-top: 15px;
	padding-bottom: 25px;
}
.block_review .container {
	background-color: #fdfdfd;
	border-radius: 6px;
	padding-top: 35px;
	padding-bottom: 35px;
}
.block_review h3 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 25px;
}
.rv-btn-prev,
.rv-btn-next {
	color: #4d1d8e;
	font-weight: 400;
	font-size: 31px;
}
.rv-btn-prev {
	left: -10px;
}
.rv-btn-next {
	right: -10px;
}
.rv-btn-prev:focus,
.rv-btn-next:focus,
.rv-btn-prev:hover,
.rv-btn-next:hover {
	color: #e01515;
}

.b_rv_contacts {
	margin: 0 -15px;
	padding: 15px 15px 0;
	border-top: 1px solid #f0f1f8;
}
.border_rv {
	border-right: 1px solid #f0f1f8;
	border-top: 1px solid #f0f1f8;
}
.b_rv_contacts p {
	font-size: 12px;
	color: #1f3628;
	margin-bottom: 2px;
}
.ya_btn {
	font-weight: 600;
	background: linear-gradient(to top, #2b106b, #6223a8);
	color: #ffffff;
	box-shadow: 0 3px 10px 0px rgba(94, 34, 162, 0.4);
}
.ya_btn:hover {
	background: linear-gradient(to top, #e01515, #e01515);
	box-shadow: none;
}
.b_rv_tel {
	font-size: 24px;
	font-weight: 700;
	color: #1cb95b;
	margin-bottom: 25px;
	display: block;
}
.b_rv_mail {
	font-size: 18px;
	font-weight: 700;
	color: #541e97;
	margin-bottom: 25px;
	display: block;
}
.b_rv_contacts a:hover {
	color: #e01515;
}
.plum-social-nav {
	margin-bottom: 11px;
}
.plum-social-nav li {
	padding: 5px;
}
.plum-social-nav svg {
	width: 30px;
	height: 30px;
	fill: #6223a8;
}
.ftr_plum-soc,
.plum-soc_vk {
	display: flex;
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	background-color: #6223a8;
	border-radius: 50px;
}
.plum-soc_vk svg {
	width: 16px;
	fill: #ffffff;
}
.plum-social-nav li:hover svg {
	fill: #e01515;
}
.plum-social-nav li:hover .plum-soc_vk svg {
	fill: #ffffff;
}
.plum-social-nav li:hover .plum-soc_vk {
	background-color: #e01515;
}
/* ---- YANDEX ---- */
.b_rv_item {
	padding: 15px;
}
.ya_name-block,
.ya_rating-block,
.ya_ftr {
	display: flex;
	align-items: center;
}
.ya_name-block {
	margin-bottom: 6px;
}
.ya_ftr {
	justify-content: space-between;
}
.ya_name-ava {
	width: 35px;
	height: auto;
	margin-right: 10px;
}
.ya_name {
	font-size: 13px;
	font-weight: 600;
}
.ya_name::first-letter {
	color: #e01515;
}
.ya_rating-block {
	color: #a4a1a1;
	font-size: 12px;
	margin-bottom: 8px;
}
.ya_num {
	font-size: 14px;
	width: 27px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #1cb95b;
}
.ya_text-rv {
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 13px;
}
.ya_num,
.ya_rating_word {
	margin-right: 11px;
}
.ya_plus_field,
.ya_minus_field,
.ya_comm_field {
	font-weight: 400;
}
.ya_plus,
.ya_minus {
	margin-bottom: 10px;
}
.ya_ftr {
	color: #a4a1a1;
	font-size: 13px;
}
.ya_pf_yes {
	color: #01b04e;
	margin-right: 5px;
}
.ya_pf_no {
	color: #e01515;
}
.b_rv_slider {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}
.ya_read-all {
	color: #3031ce;
	position: absolute;
	font-size: 13px;
	bottom: 10px;
	left: 35px;
}

/* ----- block ADVANTAGE ------ */
.block_adv {
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 25px;
}
.block_adv h2 {
	margin-bottom: 45px;
}
.adv_item h3 {
	font-size: 18px;
	font-weight: 700;
}
.adv_item p {
	font-size: 14px;
	margin-bottom: 40px;
}
.adv_item svg {
	max-width: 57px;
	max-height: 50px;
	fill: #1cb95b;
	margin-bottom: 15px;
}
.adv_item-percents {
	font-weight: 700;
	font-size: 51px;
	color: #1cb95b;
	margin-bottom: 4px;
}
/* ----- block SALE ------ */
.block_sale {
	background: linear-gradient(to top right, #2b106b, #6223a8);
	padding-top: 25px;
	padding-bottom: 25px;
}
.block_sale .container {
	position: relative;
}
.black-sale,
.white-sale {
	position: absolute;
	font-family: Gilroy;
	font-weight: 700;
	font-size: 31px;
	width: 69px;
	height: 69px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(-25deg);
}

.black-sale {
	color: #ffffff;
	background-color: #000000;
	right: 15px;
	bottom: -40px;
}
.white-sale {
	color: #2c116a;
	background-color: #f4f4f7;
	left: 15px;
	top: -40px;
}
.bs_reg-btn {
	font-family: SFUI;
	font-size: 19px;
	width: 100%;
	height: 100%;
	max-width: 277px;
	max-height: 50px;
	margin-left: 67px;
}
/* ----- FOOTER ------ */
footer {
	background-color: #000000;
	padding-top: 45px;
	padding-bottom: 25px;
	color: #ffffff;
}
footer a {
	color: #ffffff;
}
footer p {
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 5px;
}
.ftr_tel {
	font-weight: 600;
	font-size: 20px;
	color: #1cb95b;
	margin-bottom: 15px;
	display: block;
}
.ftr_mail {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 15px;
	display: block;
}
.ftr_logo {
	display: flex;
	align-items: center;
	position: relative;
}
.ftr_rapido {
	width: 29px;
}
.ftr_btn {
	width: 100%;
}
.ftr_plum-soc {
	background-color: #ffffff;
	position: relative;
	width: 28px;
	height: 28px;
}
.ftr_plum-soc svg {
	position: absolute;
	top: -1px;
	left: -1px;
}
.plum-social-nav .plum-soc_vk {
	padding-bottom: 6px;
	padding-top: 4px;
}
.ftr_nav > li > div > a {
	font-size: 18px;
	font-weight: 700;
	padding: 2px 5px 10px;
	display: block;
}
.ftr_nav_drop a {
	color: #a4a1a1;
	font-size: 13px;
	padding: 9px 5px;
	display: block;
}
.ftr_nav_drop a:hover {
	color: #01b04e;
}
.ftr_nav .b1_mob-nav_arrow {
	color: #ffffff;
}
.ftr_address {
	display: flex;
}
.ftr_address svg {
	fill: #21bb5e;
	width: 11px;
	margin-bottom: auto;
}
.ftr_address p {
	font-size: 14px;
	font-weight: 400;
}
.ftr_contacts {
	margin-left: -15px;
}
.ftr_copyright {
	font-size: 13px;
	color: #3e3e3e;
}
/* ------ block NEWS ------ */
.block_news {
	padding-bottom: 45px;
}
.news_item {
	display: flex;
	justify-content: center;
	padding: 0 15px;
}
.news_item_wrapper {
	border-radius: 6px;
	overflow: hidden;
	max-width: 300px;
	min-height: 360px;
	background-color: #fdfdfd;
}
.ni_img_cont {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 215px;
	overflow: hidden;
	margin-bottom: 15px;
}
.ni_img_cont img {
	width: 100%;
}
.ni_discr {
	padding: 0 15px;
}
.news_item h3 {
	font-size: 18px;
	font-weight: 700;
}
.ni_info {
	color: #b6b6c3;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.ni_views {
	display: flex;
}
.ni_views svg {
	width: 15px;
	fill: #b6b6c3;
	margin-right: 5px;
}

/* ------ BREADCRUMBS ----- */
.bread_crumb {
	background-color: #f4f4f7;
}
.bread_crumb .breadcrumb {
	background-color: transparent;
	font-size: 12px;
	padding: 1.2rem 1rem 1.2rem 0;
	margin-bottom: 0;
}
.bread_crumb .breadcrumb-item.active,
.bread_crumb a {
	color: #858484;
}
/* ---- GUARANTEE ---- */
.grt_content {
	background-color: #f4f4f7;
	padding-bottom: 35px;
}
.grt_content .container {
	border-radius: 6px;
	background-color: #fdfdfd;
	padding-top: 1px;
	padding-bottom: 10px;
}
.grt_content h1 {
	padding-left: 25px;
}
.grt_content p {
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
	margin-bottom: 25px;
	letter-spacing: 0.2px;
}
.grt_bg-block {
	background-image: url(../img/guarantee_bg.jpg);
	background-position-x: left;
	background-position-y: top;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 45px;
	padding-top: 45px;
	padding-bottom: 35px;
	margin-left: -15px;
	margin-right: -15px;
}
.grt_ct_item {
	display: flex;
	padding-left: 35px;
}
.grt_ct_item p {
	max-width: 840px;
}
.grt_item_img {
	margin-right: 35px;
}
.grt_item_img svg {
	width: 50px;
	height: 50px;
	fill: #6223a8;
}
/* ------ FAQ ------ */
.faq_content {
	background-color: #f4f4f7;
	padding: 1px 0 15px;
}
.faq_item {
	border-radius: 6px;
	background-color: #ffffff;
	margin: 5px 0;
	font-family: Montserrat;
}
.faq_head {
	border-radius: 6px;
	background: #ffffff;
	position: relative;
	display: flex;
	padding: 20px 23px;
	transition: 0.3s;
}
.faq_answer {
	display: none;
	padding: 20px 27px;
	line-height: 24px;
	font-size: 16px;
}
.faq_answer p {
	margin-bottom: 0;
}
.faq_arrow {
	font-family: BaronNeue;
	font-size: 36px;
	transform: rotate(90deg);
	margin-left: auto;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 11px;
	transition: 0.3s;
}
.faq_head h3 {
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 0;
}
.faq_pulm-text {
	font-weight: 600;
	color: #5a259d;
}
.faq_head-opened {
	background: linear-gradient(to top, #2b106b, #6223a8);
	color: #ffffff;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.32);
	box-shadow: 0 4px 10px -1px rgba(43, 16, 107, 0.48);
}
.faq_head-opened .faq_arrow {
	transform: rotate(-90deg);
}
/* ------ CATALOG ------ */
.cat_main-title {
	background-color: #f4f4f7;
	padding-top: 16px;
}
.cat_main-title h1 {
	color: #000000;
	margin: 0;
}
.catalog {
	background-color: #f4f4f7;
}
.filters_wrapper {
	display: block;
}
.filter_item {
	border-radius: 6px;
	background-color: #ffffff;
	margin-bottom: 11px;
}
.filter-body {
	padding-bottom: 7px;
}
.filter-body::before {
	content: "";
	display: block;
	background-color: #eff1f6;
	width: 87%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
}
.filter-name {
	font-size: 15px;
	font-weight: 700;
	color: #252525;
}
.filter-arrow {
	font-size: 21px;
	padding-bottom: 8px;
}
.filter-gender {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	padding-bottom: 7px;
}
.filter_head a,
.filter-gender a {
	display: flex;
	align-items: center;
	padding: 10px 19px;
}
.filter-gender a:hover,
.fil-active {
	background-color: #e5f3ea;
}
.filter-gender svg {
	width: 21px;
	max-height: 21px;
	fill: #00af4d;
	margin-right: 16px;
}
.fil_gender-name {
	font-size: 14px;
	font-weight: 600;
	color: #252525;
}
.fil_gender-num {
	color: #949494;
	font-size: 14px;
	margin-left: auto;
}
.fil_range-body {
	padding: 0 19px 20px;
}
.fil_inputs {
	display: flex;
}
.fil_range-body .form-control {
	border: 1px solid #dadde3;
	color: #949494;
	font-size: 14px;
	font-weight: 300;
}
.price-from-cont {
	margin-right: 10px;
}
.price-from-cont,
.price-to-cont {
	position: relative;
}
.price-from-cont::before,
.price-to-cont::before {
	content: "от";
	color: #4b4848;
	font-size: 14px;
	font-weight: 300;
	position: absolute;
	left: 11px;
	top: 9px;
	z-index: 1;
}
.price-to-cont::before {
	content: "до";
}
.inp-price-from,
.inp-price-to {
	padding-left: 30px;
}
.check-cont {
	display: flex;
	padding: 10px 19px;
}
.check-cont label {
	color: #2a2a2a;
	font-size: 14px;
}
.fil_show-more {
	text-align: center;
	padding: 10px;
}
.fil_show-more a {
	color: #3e1a7e;
	font-size: 12px;
	font-weight: 700;
}
.underline {
	text-decoration: underline;
}
.active-arrow {
	transform: rotate(-90deg);
}
.fil-hidden .fil_range-body,
.fil-hidden .filter-body {
	display: none;
}
.cat_items-wrapper {
	background-color: #fdfdfd;
	border-radius: 6px;
	margin-right: -15px;
	margin-bottom: 30px;
	padding: 0 8px 8px;
}
.cat_items-sort {
	color: #e0e0e0;
	padding: 10px 25px;
	align-items: center;
}
.sort-title {
	font-weight: 600;
	font-size: 14px;
}
.cat_items-sort a {
	color: #e0e0e0;
	font-size: 13px;
	padding: 7px 20px;
	display: block;
}
.cat_items-sort a:hover {
	color: #4e1c90;
}
.cat_items-sort a.active {
	color: #4e1c90;
	position: relative;
}
.cat_items-sort a.active::after {
	content: ">";
	color: #4e1c90;
	font-family: BaronNeue;
	font-size: 16px;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: -9px;
	top: 0;
	width: 29px;
	height: 29px;
	padding: 0px 0px 4px 0px;
	transform: rotate(90deg);
}
.cat_items-sort a.reverse::after {
	transform: rotate(-90deg);
}
/* border cat items */
.cat_items-wrapper .row > div {
	position: relative;
}
.cat_items-wrapper .row > div::before {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	background-color: #f0f1f8;
	position: absolute;
	bottom: 100%;
	left: 0;
}
.cat_items-wrapper .row > div:nth-child(3n + 1)::before {
	width: 90%;
	left: auto;
	right: 0;
}
.cat_items-wrapper .row > div:nth-child(3n + 3)::before {
	width: 90%;
}
.cat_items-wrapper .row > div::after {
	content: "";
	display: block;
	height: 90%;
	width: 1px;
	background-color: #f0f1f8;
	position: absolute;
	bottom: 5%;
	left: 100%;
}
.cat_items-wrapper .row > div:nth-child(3n + 3)::after {
	display: none;
}
/* page nav */
.cat_page-nav {
	display: flex;
}
.cat_prev-page,
.cat_next-page {
	border-radius: 50px;
	font-family: BaronNeue;
	font-size: 27px;
	padding: 0px 1px 7px 0px;
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cat_next-page {
	padding: 0px 1px 7px 4px;
}
.cat_pages li {
	padding: 0 6px;
}
.cat_pages {
	padding: 0 6px;
}
.cat_pages a {
	font-size: 14px;
	display: block;
	border-radius: 50px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to top, #ffffff, #ffffff);
	display: flex;
	align-items: center;
	justify-content: center;
}
.cat_pages .page-active {
	background: linear-gradient(to top, #00af4d, #50cc75);
	box-shadow: 0px 3px 7px 0px rgba(0, 175, 77, 0.56);
	color: #ffffff;
}
.filter-btn,
.filter-ins-btn {
	position: sticky;
	bottom: 0;
	z-index: 1;
	/* left: calc(50% - 55px); */
	width: 100%;
	margin: 10px 0;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.33);
}
.filter-btn:hover {
	background: linear-gradient(to bottom, #50cc75, #01b04e);
}
.filter-ins-btn {
	width: calc(100% + 10px);
	margin: 0 -5px 0;
}
/* ----- MEDIA ------ */
@media screen and (min-width: 767.9px) {
	.filters_wrapper {
		display: block !important;
	}
}
@media screen and (max-width: 1199.9px) {
	.hdr_user-bar a {
		padding: 5px 10px;
	}
	.hdr_search-form {
		flex: 0 0 29%;
	}
	.hdr_social-nav .nav-item {
		padding: 6px;
	}
	.hdr_main-nav a {
		padding: 5px 10px;
	}
	.hdr_ftr-nav a {
		padding: 15px 5px;
	}
	.b1_day-item {
		padding: 13px;
	}
	.ftr_nav > li > div > a {
		font-size: 17px;
	}
	.grt_bg-block {
		padding-top: 25px;
		padding-bottom: 15px;
		background-position-x: -35px;
	}
	.cat_items-wrapper .btn {
		padding: 7px;
	}
}
@media screen and (max-width: 991.9px) {
	.hdr_user-bar li {
		border-left: none;
	}
	.hdr_logo_letters {
		width: 81px;
	}
	.b1_wrapper {
		display: block;
		padding: 0;
	}
	.block_1 {
		background-color: #f4f4f7;
		padding-bottom: 15px;
	}
	.hdr_user-bar_backet {
		margin-right: 0;
	}
	.white-sale {
		top: -60px;
	}
	.bs_reg-btn {
		margin-left: 0;
	}
	.block_sale {
		padding-top: 40px;
	}
	.ftr_nav_drop a {
		padding: 7px 5px;
	}
	.ftr_contacts {
		margin-left: 0;
	}
	.block_actions,
	.block_top-sales {
		padding-bottom: 30px;
	}
	.cat-item::after {
		display: none;
	}
	.grt_bg-block {
		padding-bottom: 5px;
		background-position-x: -165px;
	}
	.grt_bg-block {
		padding-right: 15px;
	}
	.grt_ct_item {
		padding-left: 20px;
	}
	.cat_items-wrapper .row > div:nth-child(even)::after {
		display: none;
	}
	.cat_items-wrapper .row > div:nth-child(odd)::after {
		display: block;
	}
	.cat_items-wrapper .row > div:nth-child(odd)::before {
		width: 90%;
		left: auto;
		right: 0;
	}
	.cat_items-wrapper .row > div:nth-child(even)::before {
		width: 90%;
		left: 0;
	}
	.cat_items-wrapper {
		margin-right: 0;
	}
}
@media screen and (max-width: 767.9px) {
	.block_review h3 {
		text-align: center;
	}
	.ts_title-block a {
		margin: auto;
		padding-left: 0;
	}
	.block_sale {
		padding-top: 70px;
		padding-bottom: 90px;
	}
	.white-sale {
		top: -94px;
	}
	.black-sale {
		bottom: -111px;
	}
	.ftr_nav {
		margin-bottom: 20px;
	}
	.block_review .container {
		background-color: #f4f4f7;
	}
	.b_rv_conts-wrapper,
	.b_rv_slider-wrapper {
		background-color: #fdfdfd;
		padding: 15px 15px 20px;
		border-radius: 6px;
	}
	.b_rv_slider-wrapper {
		padding: 25px 0 25px;
		margin-bottom: 30px;
	}
	.ya_ftr {
		flex-direction: column;
	}
	.ya_date {
		margin-bottom: 7px;
	}
	.border_rv {
		height: 100%;
	}
	.grt_bg-block {
		background: #ffffff;
		margin-left: 0;
	}
	.grt_bg-block {
		padding-bottom: 5px;
		margin-bottom: 25px;
	}
	.grt_ct_item {
		padding-left: 5px;
	}
	.grt_item_img {
		margin-right: 15px;
	}
	.grt_content h1 {
		padding-left: 0;
	}
	h1 {
		text-align: center;
	}
	.filters_wrapper-cont {
		position: fixed;
		max-width: 540px;
		padding-left: 0;
		top: 0;
		z-index: 2;
	}
	.filters_wrapper {
		position: absolute;
		width: 100%;
		z-index: 1;
		background-color: #f4f4f7;
		box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.33);
		border-radius: 6px;
		padding: 5px 5px 0;
		display: none;
		overflow: auto;
		height: 100vh;
	}
	.cat_page-nav,
	.cat_items-sort {
		justify-content: center;
	}
}

@media screen and (max-width: 575.9px) {
	.slick-dots li button {
		width: 11px;
		height: 11px;
	}
	.b1_slide_new-price {
		font-size: 24px;
		margin-bottom: 10px;
	}
	.b1_slide_old-price {
		font-size: 15px;
	}
	.hdr_user-bar_chart,
	.hdr_user-bar_user,
	.hdr_user-bar_backet,
	.hdr_user-bar_search {
		width: 15px;
		height: 15px;
	}
	.hdr_user-bar a {
		padding: 5px 6px;
	}
	.ts_title-block h2::first-letter {
		text-transform: uppercase;
	}
	h2 {
		font-size: 22px;
	}
	.title-arrow {
		width: 26px;
		height: 26px;
		font-size: 26px;
		font-weight: 400;
		padding: 9px;
		margin-left: 15px;
	}
	.ts_slider {
		margin-left: 0;
		margin-right: 0;
		max-width: 320px;
		margin: auto;
	}
	.cat-item {
		max-width: 100%;
	}
	.block_review .container,
	.block_new .container {
		background-color: #f4f4f7;
	}
	.block_new .cont_inner {
		background-color: #fdfdfd;
		border-radius: 6px;
		padding-top: 25px;
		margin-bottom: 25px;
	}
	.cont_inner {
		margin-left: auto;
		margin-right: auto;
		max-width: 320px;
	}
	.adv_item h3 {
		font-size: 16px;
	}
	.bs_reg-btn {
		font-size: 17px;
		max-width: 260px;
	}
	.ftr_soc-block,
	.ftr_contacts,
	.ftr_copyright {
		text-align: center;
	}
	.ftr_btn {
		max-width: 170px;
	}
	.ftr_address {
		flex-direction: column;
		margin-bottom: 10px;
	}
	.ftr_address svg {
		margin: auto;
		margin-bottom: 7px;
	}
	footer p {
		margin-bottom: 10px;
	}
	.ftr_nav {
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
	.b_rv_contacts {
		/* margin: 0 15px; */
	}
	.ftr_nav_drop {
		display: none;
	}
	.ftr_nav > li > div > a {
		font-weight: 400;
		height: 40px;
		display: flex;
		align-items: center;
		font-size: 15px;
	}
	.ftr_nav .b1_mob-nav_arrow {
		font-size: 21px;
	}
	.block_adv .container {
		padding-right: 30px;
		padding-left: 30px;
	}
	.block_review .container {
		padding-top: 20px;
	}
	.hdr_drop-search-form {
		width: 290px;
		right: -53px;
	}
	h1 {
		font-size: 29px;
	}
	.grt_ct_item {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-left: 0;
	}
	.grt_item_img {
		margin-right: 0;
		margin-bottom: 11px;
	}
	.faq_head h3 {
		font-size: 15px;
	}
	.faq_answer {
		line-height: 23px;
		font-size: 14px;
	}
	.news_item {
		padding: 0 10px;
	}
	.news_item_wrapper {
		max-width: 340px;
		margin: auto;
	}
	.news_slider .item-btn-prev {
		left: -6px;
	}
	.news_slider .item-btn-next {
		right: -6px;
	}
	.filters_wrapper-cont {
		max-width: 100%;
	}
}
@media screen and (max-width: 400px) {
	.block_actions .ts_slider,
	.block_top-sales .ts_slider,
	.cont_inner {
		margin-left: 15px;
		margin-right: 15px;
		max-width: 100%;
	}
}
